@model SliderDto

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <small class="text-muted float-end">Slayd</small>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label">Başlıq</label>
                        <input asp-for="Title" class="form-control" />
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="SubTitle" class="form-label">Alt Başlıq</label>
                        <input asp-for="SubTitle" class="form-control" />
                        <span class="text-danger" asp-validation-for="SubTitle"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Təsvir</label>
                        <textarea asp-for="Description" id="editor" class="form-control"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Yenilə</button>
                    <a asp-action="Index" class="btn btn-secondary">Geri qayıt</a>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

}