
@model LoginVM

        <div class="card" style="margin-top:110px;">
            <div class="card-body">
                <h4 class="mb-2" style="text-align:center; padding:10px 0;">Xoş gəlmisiniz 👋</h4>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <form method="post">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                    <div class="mb-3 form-password-toggle">
                        <label asp-for="Password" class="form-label">Şifrə</label>
                        <input asp-for="Password" class="form-control" aria-describedby="password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>


                    <div class="mb-3">
                        <button class="btn btn-primary d-grid w-100" type="submit">Daxil ol</button>
                        <a class="btn btn-secondary my-2 w-100" asp-controller="Home" asp-action="Index">Geri qayıt</a>
                    </div>
                </form>
            </div>
        </div>
	

    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
