@model BookingDto 
  
 <div class="container" style="margin-top:100px;">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <h2>Book A Table</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="regervation_part_iner">
                    <form method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input asp-for="FullName" class="form-control" placeholder="Ad və Soyadınz">
                                <span class="text-danger" asp-validation-for="FullName"></span>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <input asp-for="PhoneNumber" class="form-control" id="pnone" placeholder="Telefon nömrəniz">
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="input-group date"><input asp-for="Date" type="date" class="form-control" placeholder="Tarix" /></div>
                                <span class="text-danger" asp-validation-for="Date"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="input-group date"><input asp-for="Time" type="time" class="form-control" placeholder="Saat" /></div>
                                <span class="text-danger" asp-validation-for="Time"></span>
                            </div>
                            
                            <div class="form-group col-md-12">
                                <textarea class="form-control" id="Textarea" rows="4" placeholder="Xüsusi istək"></textarea>
                            </div>
                        </div>


                        <div class="regerv_btn" style="margin-bottom:20px;">
                        <button type="submit" class="button button-contactForm btn_4">Rezerv et</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}