@model About 

<!-- about part start-->
<section class="about_part about_bg">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img src="~/img/about.png" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    <h2>@Model.Title</h2>
                    <h4>@Model.SubTitle</h4>
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->

<!--::review_part start::-->
<section class="review_part gray_bg section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Testimonials</p>
                    <h2>Customers Feedback</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11">
                <div class="client_review_part owl-carousel">
                    @await Component.InvokeAsync("Testimonial")
                </div>
            </div>
        </div>
    </div>
</section>
<!--::review_part end::-->