@model ContactDto

<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
    <div class="container">
        <div class="col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.2606006536275!2d49.83923607490818!3d40.42522805512382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403087de34c21de1%3A0x283095de8805d6b6!2sAzadl%C4%B1q%20metro%20stansiyas%C4%B1!5e0!3m2!1str!2saz!4v1703938740493!5m2!1str!2saz" width="1100" height="450" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Get in Touch</h2>
            </div>
            <div class="col-lg-12">
                <form class="form-contact contact_form" method="post" id="contactForm"
                      novalidate="novalidate">
                    <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" asp-for="Subject" placeholder='Mətnin başlığı'>
                                <span class="text-danger" asp-validation-for="Subject"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <textarea asp-for="Message" class="form-control w-100" cols="30" rows="9" placeholder='Mətnin məzmunu'></textarea>
                                <span class="text-danger" asp-validation-for="Message"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" asp-for="FullName" placeholder='Ad və Soyad'>
                                <span class="text-danger" asp-validation-for="FullName"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" asp-for="Email" type="email" placeholder='Email'>
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                        </div>
                       
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm btn_4">Göndər</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}